.header {
    --header-border-radius: 1.25rem;
    border-radius: var(--header-border-radius);

    height: 5.75rem;
    flex-direction: column;

    @variant xs {
        height: 3.75rem;
        flex-direction: row;
    }

    @apply flex items-center justify-center gap-0.5 p-2.5 pl-3.5 m-4 mb-0 select-none relative bg-zinc-300/60 dark:bg-zinc-700/50;
}

.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(18px);
    z-index: -1;
    border-radius: var(--header-border-radius);
}
